---
layout: default
---

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<img src="assets/img/user.png" alt="Stanley">
				<h1>Hi, I am {{site.author}}!</h1>
				<p>{{site.description}}</p>
			
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /ww -->


<!-- +++++ Projects Section +++++ -->
<div class="container pt">
	{% for portfolio in site.portfolio %}
		{% if portfolio.published == true %}
			{% cycle 'add rows': '<div class="row mt centered">', nil, nil %}
		
				<div class="col-lg-4">
					<a class="zoom green" href="{{ portfolio.url | prepend: site.baseurl }}"><img class="img-responsive" src="{{ portfolio.img }}" alt="" /></a>
					<p>{{ portfolio.title }}</p>
				</div>
			
			{% cycle 'close rows': nil, nil, '</div>' %}
		{% endif %}
	{% endfor %}
	{% cycle 'close rows': nil, '</div>', '</div>' %}
</div><!-- /container -->