---
layout: default
---

<!-- +++++ Projects Section +++++ -->

<div class="container pt">

	<div class="row mt">
		<div class="col-lg-6 col-lg-offset-3 centered">
			<h3>MY PORTFOLIO</h3>
			<hr>
		</div>
	</div>
	
	{% for portfolio in site.portfolio %}
		{% if portfolio.published == true %}
			{% cycle 'add rows': '<div class="row mt centered">', nil, nil %}
		
				<div class="col-lg-4">
					<a class="zoom green" href="{{ portfolio.url | prepend: site.baseurl }}"><img class="img-responsive" src="{{ portfolio.img }}" alt="" /></a>
					<p>{{ portfolio.title }}</p>
				</div>
			
			{% cycle 'close rows': nil, nil, '</div>' %}
		{% endif %}
	{% endfor %}
	{% cycle 'close rows': nil, '</div>', '</div>' %}
	
</div><!-- /container -->
