<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>&copy; 2015 Equinoxx.</h4>
				<p>
					<a href="https://bitcointalk.org/index.php?topic=715634.0" target="_blank">Bitcointalk</a><br/>
					Skype: EquinoxxBitcoin<br/>
				</p>
			</div><!-- /col-lg-4 -->
		</div>
	</div>
</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
